
///config
*,h1,h2,h3,h4,h5,h6,ul,li, a{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}



@import "config/_variables.scss";
@import "config/_mixin.scss";

//base
@import "layot/_font.scss";
@import "layot/_base.scss";
@import "layot/_adjastment.scss";




//section

@import "section/one";
@import "section/two";
@import "section/three";
@import "section/four";
@import "section/five";
@import "section/six";
@import "section/seven";
@import "section/_form";
@import "section/maps";
@import "section/footer";
// @import "section/_media";
