.section__five {
    background: url(../img/bg/bg__faif.jpg) center no-repeat;
    background-size: cover;
}

.container__five {
    flex-direction: row;

    justify-content: space-between;

    height: 100vh;
    min-width: 100%;

    @include tablets{
        min-height: 100%;
    }

}
.title__burger--white {
    color: #fff;
    margin-left: 5.8125rem;
    margin-top: -24.6875rem;
    @include tablets{
        display: none;

    }
  
}

.list__harmonic {
    height: 100%;
    width: 75%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-direction: row;

    @include tablets{
        width: 100%;

    }
   
}

.item__harmonic {
    transition: all 0.8s ease;
    display: flex;

    height: 100%;

    flex-wrap: nowrap;

    font-family: "Gagalin";

    font-weight: 400;
    color: #ffffff;
    transition: all 1.5s;

    @include tablets{
        // align-items: ;
    }

    &:hover {
        .box-text {
            display: block;

            @include tablets{
                max-width: 100%;
            }
            @include phones{
                // position: absolute;
                z-index: 10;
            }
            
        }
        .box-title {
            span {
                color: $yellow;
            }
        }
    }

    .box-title {
        max-height: 100%;
        width: 5rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

       

        span {
            padding: 0;
            margin: 0;
            transform: rotate(-90deg);
            transform-origin: center;
            display: block;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            white-space: nowrap;
            font-size: 2.5rem;
            position: relative;
            top: 8.75rem;
          
            
        }
    }
    .box-text {
        max-width: 33.75rem;
        display: flex;
        padding: 3.875rem 2.1875rem;
        opacity: 0.92;
        background-color: #2f3234;
        font-family: "ubuntulight";
        font-size: .875rem;
        line-height: 1.5rem;
        font-weight: 300;
        // height: 0;
        // width: 0;
        // overflow: hidden;
        display: none;
    }

    .item__harmonic--activ {
        .box-text {
            max-width: 33.75rem;
            height: 100%;
            flex: 1;
            padding: 3.875rem 2.1875rem;
            overflow: visible;
            height: 100%;
            width: 100%;

            p {
                color: #fff;
            }
        }
    }

    &:nth-child(1) {
        // background: url("../img/faif/burger-ak1.jpg") center no-repeat;
        // background-size: cover;
        //  width: 5rem;
        .box-title {
            background: url("../img/faif/burger-ak1.jpg") center no-repeat;
            background-size: cover;

            span{

                @include tablets{
                    top: 21.25rem;
            
                }
                @include phones{
                    top: 12.5rem;
                }
            }
        }
    }

    &:nth-child(2) {
        .box-title {
            background: url("../img/faif/burger-ak2.jpg") center no-repeat;
            background-size: cover;
            span{
                top: 8.125rem;

                @include tablets{
                    top: 20rem;
            
                }
                @include phones{
                    top: 11.25rem;
                }
            }
        }
        //  width: 5rem;
    }

    &:nth-child(3) {
        .box-title {
            background: url("../img/faif/burger-ak3.jpg") center no-repeat;
            background-size: cover;
            span{
                top: 10rem;

                @include tablets{
                    top: 21.25rem;
            
                }
                @include phones{
                    top: 13.75rem;
                }
            }
        }
    }
}

