.footer{
    // height: 3.75rem;
    padding: .625rem;
    width: 100%;
    margin: 0 auto;
    background: #000;
    display: flex;
    flex-direction: row;
    margin-top: auto;

    @include phones{
        height: auto;
        padding: 0;
        min-height: 6.25rem;
        // position: relative;
        // top: 0rem;
        z-index: 10;
    }
}
.container__footer{
    margin: 0 auto;
    // max-height: 3.75rem;
    max-width: 58.75rem;
    width: 58.75rem;
    display: flex;

    @include phones{
        flex-direction: column;
        // height:6.25rem;
        bottom: 6.25rem;
        right: 0;
        left: 0;
       
    }
}

.footer__text{
    width: 50%;
    font-family: "Ubuntu";
font-size: .875rem;
line-height: 1.5rem;
font-weight: 300;
color: #fff;
padding-bottom: .625rem;

@include phones{
    width: 100%;
    text-align: center;
    padding-top:.625rem;
    padding-bottom: 0;
}

a{
   
    font-weight: 700;
    color: #e45028;
}
}
.footer__social{
    width: 50%;

    @include phones{
        width: 100%;
        padding-top: .5rem;
    //   text-align: center;
    }
}

.footer__list{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
    padding-bottom: .5625rem;

    @include phones{
        justify-content: center;
    }
}
// .footer__item{
//     // width: .625rem;
//     // height: .625rem;
    
// }
.icon-social{
    width: 1.4375rem;
    height: 1.25rem;
fill: #595959;
}