.section__form {
    background: url("../img/form_bg.jpg") center center no-repeat;
    background-size: cover;
}

.container__form {
    // border: .0625rem solid red;
    justify-content: start;
    gap: 9.375rem;
    margin: 0 auto;

    @include tablets{
        gap: 11.375rem;
    }

    @include phones{
        gap: 3.875rem;
    }
}
.section__title-form {
    top: 7.5rem;

    @include tablets{
        top: 8.75rem;
    }
@include phones{
    text-align: center;
    top: 3rem;
    font-size: 3.125rem;
    line-height: 80px;
    
}
    // border: .0625rem solid green;
}
.form {
    flex: 1;
    // border: .0625rem solid blue;
    width: 100%;
    display: flex;
    gap: 20px;
    @include tablets{
        align-items: center;
        width: 100%;
        flex-direction: column;
        align-items: center;

    }
    @include phones{
        margin: 0;
    }
}

.block-input {
    // border: .0625rem solid red;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    gap: 1.375rem;

    @include tablets{
        width: 70%;
        gap: 1.25rem;
    }

    @include phones{
        width: 100%;
        gap: 1.0625rem;
        flex-direction: row;
    }
    label {
        height: fit-content;
        width: min-content;
        color: #fff;
        font-family: Ubuntu;
        font-size: .875rem;
        // line-height: 1.5rem;
        font-weight: 300;
        display: flex;
        flex-direction: column;
        text-transform: capitalize;
        cursor: pointer;
       
    }
    label[for="name"]{
        width:44%;
        input{
            display: block;
            width: 100%;
        }
    }
    label[for="tel"]{
        width: 45%;
        .input{
            width: 100%;
        }
    }

    label[for="street"]{
// color: blue;
width: 100%;
    }

    label[for="storey"]{
        @include phones{
            display: none;
        }
    }
}

// .block-btn {
//     // border: .0625rem solid purple;
//     // width: 50%;
//     @include tablets{
//         width: 100%;
//     }
// }

// .input:active{
//     border-color: $yellow;
// }

.input {
    border: none;
    padding: .75rem 1.25rem;
    @include input;

    // margin-bottom: 1.25rem;

    &:active {
        border-color: $yellow;
    }

    &-long {
        @include input(28.875rem);
        // min-width: 100%;
        @include tablets{
            // color:red;
            @include input(100%);
            // width: 6.25rem;
        }
    }
    &-little {
        @include input(28.75rem / 5);
    }
}

.block-btn {
    width: 50%;
    font-family: Ubuntu;
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: .5625rem;

    @include tablets{
        width: 70%;
    }

    @include phones{
        width: 100%;
        height: 100%;
        gap: 1.875rem;
        // justify-content: space-around;
    }
}
.label-text {
    textarea {
        min-width: 100%;
        height: 6.8125rem;
        border: .0625rem solid #d1cfcb;
    }
}
.label-radio {
    margin-right: 1.25rem;
    display: inline-flex;
    flex-wrap: nowrap;
    gap: .625rem;

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span::before {
            //
            width: .4375rem;
            height: .4375rem;
            border: .25rem solid #fff;
            background:url("../img/elli_rad.png") center center no-repeat;
background-size: cover;
        }
    }
    span {
        display: inline-flex;
        align-items: center;
        user-select: none;
        &::before {
            content: "";
            display: inline-block;
            width: 1rem;
            height: .9375rem;
            flex-shrink: 0;
            flex-grow: 0;
            // border: .0625rem solid #6ec413;
            border-radius: 50%;
            margin-right: .625rem;
            background: #fff;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }
}

.label-chek {
    span {
        display: inline-flex;
        align-items: center;
        user-select: none;

        &::before {
            content: "";
            display: inline-block;
            width: .9375rem;
            height: .9375rem;
            background-color: #ffffff;

            margin-right: .625rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }

    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked + span::before {
            width: .9375rem;
            height: .9375rem;
            // background-color: #fff;
            background-image: url("../img/che.jpg");
        }
    }
    margin-bottom: .75rem;

    @include phones{
        text-align: center;
    }
}
// .form-btn {
// }
// .order-link {
// }
.order-link--reset {
    background: transparent;
    text-transform: capitalize;
}

.bloks-radio{
    text-align: center;
}
.form-btn{

    @include phones{
        text-align: center;
    }
}