.section__four {
    background: url(../img/bg/bg__four.jpg) center no-repeat;
    background-size: cover;
    display: flex;
}
.container__four {
    // height: 100%;
    width: 50%;
    min-height: 650px;
    margin: 0 0 0 auto;
    background-color: #2f3234;
    //  opacity: 0.7;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
}
.block__title {
   
    height: 37%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 50px;
}
.four__title {
    font-family: "Gagalin";
    font-size: 72.1px;
    line-height: 64px;
    font-weight: 400;
    right: 80px;
}
.list__coment {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.item__coment {
    
}
.item__coment-link {
    display: flex;
    gap: 9px;
    align-items: center;
    font-family: "Gagalin";
    font-size: 14.1px;
    line-height: 28px;
    font-weight: 400;
    color: #ffffff;

    &::before {
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-bottom-width: 0;
        border-top-color: $yellow;
    }
}
.four__coment {
    display: flex;
  height: 0;
  overflow: hidden;
}

.item__coment--activ {
    .item__coment-link {
        color: $yellow;

        &::before {
            transform: rotate(180deg);
        }
    }
    .four__coment {
        display: flex;
        align-items: center;
        gap: 35px;
        // overflow:auto;
        height: 100%;
    
    }

}


.four__coment-img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    
}

.four__coment-ava {
    border-radius: 50%;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    border-radius: 50%;
    object-fit: fill;
    object-position: 50% 50%;

}




.four__coment-text {
    color: #ffffff;
    font-family: "Ubuntu";
    font-size: 14.1px;
    line-height: 24px;
    // padding-left: 35px;
}

.four__coment-subtitle {
        font-family: "ubuntubold";
    // font-size: 14.1px;
    // line-height: 24px;
    font-weight: 700;
    
}
.four__coment-message {
    // font-family: "Ubuntu";
    // font-size: 14.1px;
    // line-height: 24px;
    // width: 65%;
    font-weight: 300;
}
