

.section {
}
.section__six {
}
.block-photos {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}
.block-photo {
    flex-basis: 25%;
}
.block-photo__img {
    width: 100%;
    height: 100%;
}