// .section {
// }
.section__six {
    height: 100%;
    width: 100%;
    // min-height: 53.125rem;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    // padding-bottom: 10%;
    // margin-bottom: 17%;
}
.block-photos {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;


    @include tablets{

    }


    .block-photo:nth-child(1) {
        background: url("../img/six/Rectangle 3-7.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(2) {
        background: url("../img/six/Rectangle 3-5.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(3) {
        background: url("../img/six/Rectangle 3-3.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(4) {
        background: url("../img/six/Rectangle 3-1.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(5) {
        background: url("../img/six/Rectangle 3-6.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(6) {
        background: url("../img/six/Rectangle 3-4.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(7) {
        background: url("../img/six/Rectangle 3-2.jpg") center no-repeat;
        background-size: cover;
    }
    .block-photo:nth-child(8) {
        background: url("../img/six/Rectangle 3.jpg") center no-repeat;
        background-size: cover;
    }
}
.block-photo {
    // border: .0625rem solid green;
    display: flex;
    width: 25%;
    // flex: 1 1 25%;
    //z-index: 2;
    position: relative;

    @include tablets{
        width: 50%;
        // flex:1 1 50%;
        height: 38%;
        // width: 24.0625rem;
        // height: 16.5625rem;
        filter: grayscale(100%);
    }

    @include phones{
        height: 30%;
    }

    &:hover {
        .block-coment {
            opacity: 1;

            @include phones{
                width: 100%;
                font-size: 1.5rem;
            }
        }
    }
}

.block-coment {
    padding-top: 2.3125rem;
    padding-right: 1.875rem;
    padding-left: 1.0625rem;
    padding-bottom: 3.125rem;
    //padding: 1.25rem;
    background: rgba(20, 20, 20, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    //  z-index: 1;

    transition: all 0.7s;

    @include tablets{
        align-items: center;
        font-size: .875rem;
        font-family: "gagalin";
        font-weight: 700;
        font-style: normal;
        
    }
}

.block-photo__img {
    width: 100%;

    display: block;

    object-fit: cover;
    object-position: center;
}

.block-coment__name {
    margin: 0;
    padding: 0;
    font-family:" Gagalin";
    font-size: .875rem;
    line-height: 1.75rem;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 1.125rem;

    @include tablets{
        font-family: gagalin;
        font-size: .875rem;
    }

    @include phones{
        font-size: 1.5rem;
        font-family: gagalin;
        text-align: center;
    }
}
.block-coment__text {
    font-family: "ubuntulight";
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 300;
    color: #ffffff;
    margin-bottom: .75rem;
    // padding-bottom: 1.25rem;

    @include tablets{
        padding: 0 1.25rem;
        text-align: center;
        font-size: .875rem;
        font-family: ubuntulight;
    }
    @include phones{
        display: none;
    }
}
.block-coment__linck {
    width: 6.875rem;
    height: 2.1875rem;
    background-color: #2f3234;
    &:hover{
        background: rgba(20,20,20,0.7);
    }
}
