.section__three {
    
    background-color: #f9b43b;
    background-image: linear-gradient(0.0deg, #f9b43b 0%, #eb8c38 50%, #f9b43b 70%, #f9b43b 100%);
}
.container__three {
    // background: green;
    margin: 0 auto;
    height: 100%;
}