.section__three {
    background-color: #f9b43b;
    background-image: linear-gradient(0deg, #f9b43b 0%, #eb8c38 50%, #f9b43b 70%, #f9b43b 100%);
    @include tablets {
        // flex-direction: column;
        min-height: 63.75rem;
    }
    @include phones {
        min-height: 50rem;
    }
}
.container__three {
    // background: green;
    max-width: 940px;
    margin: 0 auto;
    height: 100%;

    @include tablets {
        // flex-direction: column;
        min-height: 63.75rem;
    }
}

// .section__three {
// }

.container__three {
    display: flex;
    flex-direction: row;

    @include phones {
        padding: 0 .625rem;
    }
}

.content__three {
    display: flex;

    @include tablets {
        flex-direction: column;
        height: 62.8125rem;
    }
}
.three__img {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // border: .0625rem solid red;

    @include tablets {
        flex-direction: row;
        width: 100%;
        height: 60%;
        // border: .0625rem solid blue;
        position: relative;
        top: 9%;
    }
}
.block__icon-burger {
    position: relative;
    right: 1rem;
    bottom: 2.625rem;
    width: 5.625rem;
    height: 5.625rem;
    // opacity: 0.4;
    background-color: #f08b33;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .3125rem;
    transition: all 1.8s ease;

    @include tablets {
        position: absolute;
        top: -3.75rem;
        left: 6.625rem;
    }

    @include phones {
        top: -4.9375rem;
        left: -1.625rem;
    }

    &:hover {
        .list__burger-compound {
            transition: all 0.5s ease;
            display: block;
            top: 0;
            z-index: 10;
        }
    }
    span {
        font-family: "Gagalin";
        font-size: .875rem;
        line-height: 1.75rem;
        font-weight: 400;
        color: #ffffff;
    }
}
.icon-burg {
    width: 2.875rem;
    height: 2.75rem;
}
// .block-burger {
// }
.left-scrol {
    position: relative;
    right: 3%;
    bottom: 1.25rem;
    @include tablets {
        top: 0;
        left: 4%;
    }
    @include phones {
        top: -7.8125rem;
        left: -1%;
    }
}
.icon-slider {
    transition: all 0.5s ease-in;
    fill: #fff;
    &:hover {
        fill: #2f3234;
    }
}
.icon-scrol__left {
    width: 1.5625rem;
    height: 1.6875rem;
    transform: rotate(90deg);
}
.block-burger {
    width: 100%;
    @include tablets {
        display: flex;
        width: 70%;
        margin: 0 auto;
        // border: .0625rem solid red;
    }
    @include phones {
        width: 100%;
    }
}
.burger-slider {
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // border:.0625rem solid red;
    @include tablets {
        align-items: flex-end;
    }
    @include phones {
        align-items: center;
    }
}
.list__slider {
    // max-width: 100%;
    display: flex;
    transition:  all ease 1s;
}

.list__slider img {
    display: block;
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.icon-kkal {
    width: 3.75rem;
    height: 3.75rem;
    // opacity: 0.5;
}
.three__text {
    width: 50%;
    min-height: 100%;
    // border: .0625rem solid blue;
    @include tablets {
        width: 100%;
        text-align: center;
        padding: 0 3.75rem;
    }

    @include phones {
        padding: 0;
        font-size: 3.125rem;
    }
}
.slider__box-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    padding-left: .9375rem;
    text-align: center;
    @include tablets {
    }
    @include phones {
        position: relative;
        // justify-content: space-between;
    }
}

.slider__title {
    color: #fff;
    position: relative;
    top: -1.6875rem;
    display: inline;
    line-height: 4.5rem;
    text-align: center;
    width: 100%;
    @include tablets {
        top: 0rem;
    }
    @include phones {
        padding: 0;
        font-size: 3.125rem;
        font-weight: regular;
        position: absolute;
        top: 2.8125rem;
    }
}
.slider__text {
    font-family: "ubuntulight";
    font-size: .875rem;
    line-height: 1.4375rem;
    font-weight: 300;
    color: #ffffff;
    position: relative;
    top: -2.5rem;

    @include tablets {
        top: -0.5rem;
    }

    @include phones {
        position: absolute;
        top: 11.625rem;
        width: 100%;
        padding-bottom: .625rem;
    }
}
.block__btn {
    position: relative;
    top: -2.0625rem;

    @include tablets {
        top: .4375rem;
    }

    @include phones {
        font-size: 3.125rem;
        top: 5%;
        margin: 0 auto;
        padding-top: .625rem;
        width: 100%;
        display: flex;
        
    }

    span {
        font-family: "Gagalin";
        font-size: 4.5rem;
        line-height: 1.75rem;
        font-weight: 400;
        letter-spacing: -0.025em;
        color: #e35028;

        @include phones {
            font-size: 3.125rem;
        }

        small {
            font-size: 1.875rem;
            position: relative;
            right: .9375rem;
        }
    }
}
.slider__order-link {
    position: relative;
    left: .8125rem;
    @include phones {
        left: 0;
    }
}

.right-scrol {
    position: relative;
    // left: 2.1875rem;
    left: 3%;
    bottom: 1.1875rem;
    @include tablets {
        left: -1%;
        top: -0.25rem;
    }
    @include phones {
        left: 4%;
        top: -7.8125rem;
    }
}

.icon-scrol__right {
    width: 1.5625rem;
    height: 1.6875rem;
    transform: rotate(-90deg);
}
.kkal {
    position: relative;
    right: 1.875rem;
    top: .1875rem;
    width: 5.625rem;
    height: 5.625rem;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include tablets {
        position: absolute;
        top: -3.75rem;
        right: 4.875rem;
    }
    @include phones {
        top: -5.1375rem;
        right: -3.4375rem;
    }

    // align-items: center;
    &-c {
        position: absolute;
    }
}

.list__burger-compound {
    transition: all 0.5s ease;
    width: 16.875rem;
    // height: 20.75rem;
    opacity: 0.9;
    background-color: #ffffff;
    font-family: "ubuntubold";
    font-size: .875rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #2f3234;
    position: absolute;
    left: 5.625rem;
    top: -562.5rem;
    // display: none;

    span {
        color: #2f3234;
        font-family: "ubuntulight";
    }
}

.item__compound {
    display: flex;
    justify-content: space-between;
    padding: 1.25rem;
}

.item__compound-beef {
    fill: #e25129;
}

.item__compound-scone {
    fill: #f8b43a;
}

.item__compound-salad {
    fill: #8ac03e;
}

.item__compound-sauce {
    fill: #e25129;
}

.item__compound-veg {
    fill: #8ac03e;
}
.item__compound-cheese {
    fill: #f8b43a;
}

.icon-compound {
    width: 2.75rem;
    height: 2.4375rem;
}
