.section__two{
    background-image: url('../img/bg/two_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    // position: relative;
}

.two__container {
    position: relative;
    // top: -1.25rem;
    gap: 3.125rem;
    @include tablets{
        gap: 0;
    }
}
.section__title--black{
    color:$dark;

    @include tablets{
        margin-bottom: 2.5rem;
    }
    @include phones{
        font-size: rem(56px);
        margin-bottom: 0;
        // margin-top: 1.75rem;
        position: absolute;
        top: 5.4375rem;
    }
}

.list__two-content {
    display: flex;
    box-sizing: border-box;
    // border: .0625rem solid red;
    @include phones{
        flex-direction: column;
        position: absolute;
        top:11rem;
    }
}
.item__two-content {
    width: 33.33%;
    display: block;
    // border: .0625rem solid blue;
    @include phones{
        width: 100%;
        margin-bottom: 2.375rem;
    }
  
}
.list__block-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 .625rem;
    gap: 1.25rem;

    @include phones{
        width: 100%;
        display: flex;
        flex-direction: row;
       
    }
    
}
.item__block-content {
    text-align: center;

    @include phones{
        text-align: center;
        // padding-top: .625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
   

}
.icon{
    height: 6.0625rem;
    width: 5.5625rem;
    // fill:crimson;

transition: all .5s;
    &:hover{
        fill:aqua;
        transform: scale(1.1);
    }
}
.icon-meat{
    fill:#e25028;
}
.icon-hand{
    fill:#f8b43a;
}
.icon-natural{
    fill:#8ac03e;
}

.block-content__title {
    font-family:"lifehack";
font-size: rem(1.5125rem);
line-height: 1.75rem;
font-weight: 500;
letter-spacing: -0.025rem;
color:$dark;
@include phones{
    margin-bottom: 0rem;
}
}
.block-content__text {
    opacity: 0.8;
font-family: "ubuntulight";
font-size: .8812rem;
line-height: 1.5rem;
font-weight: 300;
color: #2f3234;
text-align: center;
@include phones{
    text-align-last: center;
}
}