.wrapper{
    width: 100%;
    height: 100%;
}

.maincontent{
    height: 100%;
    min-height: 650px;
}
.container{
    width: 940px;
    // height: 100%;
    // min-height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.section{
    height: 100%;
    min-width: 940px;
    min-height: 650px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.31);
    border-bottom: 1px solid red;
}
.order-link{
    min-width: rem(98px);
    padding: rem(10px) rem(17px);
    border-radius: rem(5px);
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: rem(13px);
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-border-radius: rem(5px);
    -moz-border-radius: rem(5px);
    -ms-border-radius: rem(5px);
    -o-border-radius: rem(5px);
    &:hover{
        background-color: darken($orange,17%);
    }
}

.section__three {
    
    background-color: #f9b43b;
    background-image: linear-gradient(0.0deg, #f9b43b 0%, #eb8c38 50%, #f9b43b 70%, #f9b43b 100%);
}

.container__three {
    // background: green;
    margin: 0 auto;
    height: 100%;
}
.section__four {
   background: url(../img/bg/bg__four.jpg) center no-repeat;
   background-size: cover;
}
.container__four {
    // background: blue;
    height: 100%;

}
.section__five {
    background: url(../img/bg/bg__faif.jpg) center no-repeat;
    background-size: cover;
}
.container__five {
}
.section__six {
}
.container__six {
}
.section__seven {
}
.container__seven {
}