.wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    // min-width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
html , body{
    font-size:$fontSize ;
    @include tablets{
        font-size: $fontSize - 1px;
    }
    @include phones{
        font-size: $fontSize - 2px;
    }
}

* {
    box-sizing: border-box;
}
.maincontent {
   height: 100%;
    min-height: 650px;
    // overflow: hidden;
    flex: 1;
    
}
.container {
    width: 96%;
    max-width: $containerWidth;
    // max-width: 70%;
    height: 100%;
    min-height: 650px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.section {
    height: 100vh;
    // min-width: 940px;
    // min-width: 90%;
    min-height: 650px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.31);
    border-bottom: 1px solid red;
    overflow: hidden;
}
.order-link {
    min-width: 98px;
    padding: 10px 17px;
    background-color: $orange;
    color: #fff;
    text-decoration: none;
    font-size: 13px;
    font-weight: 500;
    line-height: 1.42;
    text-transform: uppercase;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
   
    border-radius: 5px;
    &:hover {
        background-color: darken($orange, 17%);
    }
}
